@import "type";
@import "bootstrap-overwrite";


// Removed the automated import in order to customize bootstrap
// bower:scss
// endbower

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

body {
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


.container {
  max-width: 960px;
  padding: 0;
}

.header {
  margin: 20px 0;
}

.logo {
  float: left;
  background: #2e2e2e;
  padding: 16px 18px;
}

.project-name {
  float: right; 
  padding: 17px 0;
}

.welcome {
  padding: 30px 0 75px 0;
  text-align: center;
}

.welcome a.cta {
  display: inline-block;
  margin-top: 55px;
  padding: 20px 50px;
  border: 2px solid #fff;
}

.blurb {
  padding: 50px 0;
}

.breakout {
  padding: 90px 0;
  background: #fff;
}

.layouts,
.layouts h2.title {
  padding: 65px 0;
}

.projects {
  border-top: 1px solid #939393;
  padding: 65px 0;
}

.footer {
  text-align: center;
  margin: 20px 0;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .welcome {
    padding-top: 75px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
 }

// TODO: Carousel JS
// TODO: Modal popups for images
// TODO: Breakout section styling
// TODO: Image caption styling
// TODO: More project styling