@import "type";
@import "bootstrap-overwrite";


// Removed the automated import to customize bootstrap
// bower:scss
// endbower

body {
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


.container {
  max-width: 960px;
}

// TODO: Header CSS
// TODO: Carousel JS
// TODO: section spacing
// TODO: Welome section link styling
// TODO: Modal popups for images
// TODO: Breakout section styling
// TODO: Image caption styling
// TODO: More project styling
// TODO: Footer styling