@import "type";
@import "bootstrap-overwrite";


// Removed the automated import to customize bootstrap
// bower:scss
// endbower

body {
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


.container {
  max-width: 960px;
}

.header {
  margin: 20px 0;
}

.logo {
  float: left;
  width: 50px;
  height: 50px;
  background: #2e2e2e;
}

.welcome {
  padding: 75px 0;
}

.blurb {
  padding: 50px 0;
}

.breakout {
  padding: 90px 0;
  background: #fff;
}

.layouts,
.layouts h2.title {
  padding: 65px 0;
}

.projects {
  border-top: 1px solid #939393;
  padding: 65px 0;
}

.footer {
  text-align: center;
  margin: 20px 0;
}

// TODO: Carousel JS
// TODO: Welome section link styling
// TODO: Modal popups for images
// TODO: Breakout section styling
// TODO: Image caption styling
// TODO: More project styling